.datenschutz-section {
  padding: 12rem 0;
  width: 100%;

  background: linear-gradient(
    45deg,
    var(--main-background-white) 85%,
    var(--yellow-shadow-color) 99%
  );
}

.datenschutz-container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  width: 100%;
  line-height: 1.4;
}

.header {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.back-button {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: var(--main-accent-yellow);
  color: var(--main-text-color-dark);
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 1.2rem;
  cursor: pointer;
  box-shadow: 0rem 0.2rem 0.8rem 0.2rem var(--yellow-shadow-color);
  transition: all 0.3s;
}

.back-button:hover {
  background-color: var(--yellow-bg-hover);
}

.back-button:active {
  background-color: var(--yellow-bg-active);
}

.headline-p {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
}

.headline-text {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 4.8rem;
  color: var(--main-text-color-dark-grey);
}

.d-headline {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  margin-top: 3.2rem;
}

.d-second-headline {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.4rem;
  margin-top: 2rem;
  color: var(--main-text-color-dark-grey);
  text-align: justify;
}

.d-headline-text {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1.2;
  color: var(--main-text-color-dark-grey);
  text-align: justify;
}

.d-list {
  list-style: none;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1.2;
  color: var(--main-text-color-dark-grey);
  text-align: justify;
  margin: 0.8rem 0;
}
