/*
--- 01 TYPORGRAPHY ---
- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:

- Line heights:
---

--- 02 WHITESPACE ---
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
---

- Letter Spacing:

--- 03 SHADOWS ---
---

--- 04 BORDER-RADIUS ---
---
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif !important;
  line-height: 1;
  font-weight: 400;
  color: var(--main-text-color-dark);

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

.grid > * {
  min-width: 0;
}

input {
  display: block;
  min-width: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

:root {
  --main-accent-yellow: #ffd700;
  --main-accent-green: #85a955;
  --main-background-white: #fff;
  --main-background-green: #f0f5eb;
  --second-background-green: #d4e5cd;

  --main-text-color-light: #fff;
  --main-text-color-grey: #333;
  --main-text-color-dark: #1b2211;

  --dark-text-hover: #78984d;
  --dark-text-active: #85a955;

  --main-border-color: #ced3ca;

  --white-shadow-color: #b3b3b3;
  --main-white-hover: #e7eedd;
  --main-white-active: #dae5cc;

  --green-shadow-color: #506533;
  --main-accent-green-hover: #78984d;
  --main-accent-green-active: #6a8744;
}
